#divPanel, #div_suggestion {
    border-style: outset;
    height: 480px;
}

#divPanel {
    padding: 90px 50px 50px 80px;
}

#div_suggestion {
    padding-left: 10px;
}

* {
    box-sizing: border-box;
    color: white;
}

.header {
    border: 2px solid white;

}

[class*="col-"] {
    float: left;
    padding: 10px;
    border: 2px solid white;
}

.col-1 {
    width: 25%;
}

.col-2 {
    width: 75%;
}

button {
    width: 100%;
    background-color: #DCDCDC;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #696969;
    color: white;
}

#div_suggestion p {
    margin-top: 3px;
    margin-bottom: 3px;
}