#divPanel, #div_suggestion {
    border-style: outset;
    height: 850px;
}

#divPanel {
    padding: 115px 65px;

}

#div_suggestion {
    padding-left: 10px;
}

* {
    box-sizing: border-box;
    color: white;
}

.header {
    border: 2px solid white;

}

[class*="col-"] {
    float: left;
    padding: 10px;
    border: 2px solid white;
}

.col-1 {
    width: 15%;
}

.col-2 {
    width: 85%;
}

button {
    height: 60px;
    width: 120px;
    background-color: #DCDCDC;
    border: none;
    color: black;

    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #696969;
    color: white;
}

#div_suggestion p {
    margin-top: 3px;
    margin-bottom: 3px;
}

#div_suggestion {
    overflow: auto;
}

.name_span {
    color: #f0f8ff;
}

.debug_span {
    color: #f0f8ff;
    font-size: 0.5em;
}

.category_separator {
    color: black;
    background-color: #f5f5f5;
}

.suggestion_strike {
    text-decoration: line-through;
}
